<header>
  <h2><a href="#"><img
        class="img"
        src="https://img.icons8.com/small/32/ffffff/cloud-lighting.png"
      />
      Weather App</a></h2>
  <nav>
    <ul>
      <li>
        <a href="/" title="Weather">Weather</a>
      </li>
      <li>
        <a href="/about" title="About">About</a>
      </li>
      <li>
        <a href="/help" title="Help">Help</a>
      </li>
    </ul>
  </nav>
</header>